<p id="notice"><%= notice %></p>

<p>
  <strong>T num1:</strong>
  <%= @tirage.t_num1 %>
</p>

<p>
  <strong>T num2:</strong>
  <%= @tirage.t_num2 %>
</p>

<p>
  <strong>T num3:</strong>
  <%= @tirage.t_num3 %>
</p>

<p>
  <strong>T num4:</strong>
  <%= @tirage.t_num4 %>
</p>

<p>
  <strong>T num5:</strong>
  <%= @tirage.t_num5 %>
</p>

<p>
  <strong>T exp1:</strong>
  <%= @tirage.t_exp1 %>
</p>

<p>
  <strong>T exp2:</strong>
  <%= @tirage.t_exp2 %>
</p>

<p>
  <strong>Date tirage:</strong>
  <%= @tirage.date_tirage %>
</p>

<%= link_to 'Edit', edit_tirage_path(@tirage) %> |
<%= link_to 'Back', tirages_path %>
