<% content_for :css do
    stylesheet_link_tag 'mes-grilles'
end %>

<div id="back">
           <div class="container">
                  <h1>Informations</h1>
                   <div class="separate"></div>
                <h2> Les bons numéros étaient</h2>
            <section>
                <center>
                <button class="num"><%= @le_tirage.t_num1 %></button>
                <button class="num"><%= @le_tirage.t_num2 %></button>
                <button class="num"><%= @le_tirage.t_num3 %></button>
                <button class="num"><%= @le_tirage.t_num4 %></button>
                <button class="num"><%= @le_tirage.t_num5 %></button>
                <button class="exp"><%= @le_tirage.t_exp1 %></button>
                <button class="exp"><%= @le_tirage.t_exp2 %></button>
                </center>
            </section>
            
           <h2>Vous avez Joué :</h2> 
           
           <table>
              <% gain = 0.00 %>
            <% @by_tirage.each do |one_grilles_per_user| %>
            <center>
            <section class="ligne">
            <button class="num" ><%= one_grilles_per_user.num1 %></button>
            <button class="num" ><%= one_grilles_per_user.num2 %></button>
            <button class="num" ><%= one_grilles_per_user.num3 %></button>
            <button class="num" ><%= one_grilles_per_user.num4 %></button>
            <button class="num" ><%= one_grilles_per_user.num5 %></button>
            <button class="exp" ><%= one_grilles_per_user.exp1 %></button>
            <button class="exp" ><%= one_grilles_per_user.exp2 %></button>
            </section>
            </center>
            <% if one_grilles_per_user.gain != nil %>
            <% gain += one_grilles_per_user.gain%>
            <% end %>
            <% end %>
            </table>
           
              <h2>Vous avez Gagné :</h2>
              
              <h1><%=  gain %> €</h1>
</div>
<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>