Retrait


 <p  class="text" ><%= @vue.r_rank1 %></p>
 <p  class="text" ><%= @vue.r_rank2 %></p>
 <p  class="text" ><%= @vue.r_rank3 %></p>
 <p  class="text" ><%= @vue.r_rank4 %></p>
 <p  class="text" ><%= @vue.r_rank5 %></p>
 <p  class="text" ><%= @vue.r_rank6 %></p>
 <p  class="text" ><%= @vue.r_rank7 %></p>
 <p  class="text" ><%= @vue.r_rank8 %></p>
 <p  class="text" ><%= @vue.r_rank9 %></p>
 <p  class="text" ><%= @vue.r_rank10 %> </p>
 <p  class="text" ><%= @vue.r_rank11 %> </p>
 <p  class="text" ><%= @vue.r_rank12 %> </p>
 <p  class="text" ><%= @vue.r_rank13 %> </p>
 <p  class="text" ><%= @vue.r_rank14 %> </p>
 
  
  
  